{% extends 'PanelBundle:PanelEvent:event.html.twig' %}
{% block title %}{{Event.name}}{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-6">
                {% include 'PanelBundle:EventDashboard:widgets/changelog.html.twig' with {'Changelog' : Changelog} %}
            </div>
            <div class="col-md-6">
                {% include 'PanelBundle:EventDashboard:widgets/personStats.html.twig' with {'PersonStats' : PersonStats} %}
            </div>
        </div>
{% endblock %}
