{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	
<div class ="main-container">
	<div class="container">
		<div class=" highlight" style="margin-left:0;">
			<h2><a href="{{ url('index') }}">Inwitacja.pl</a> - nowoczesne zaproszenia na Twoją uroczystość</h2>
			{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</div>

{% endblock %}