{% extends 'PanelBundle:Generator:PDF/base.html.twig' %}

{% block styles %}
    body {
        font-family: sans-serif;
    }
    .code-block {
        float:left;
        margin:12px;
        border-right: #000 1px dashed;
        min-width:140px;
        height:50px;
    }
    .code-block .code {
        text-align:center;
        font-size: 30px;
        border-bottom: #000 1px dashed;
    }
    .code-block .name {
        text-align:center;
        font-size: 10px;
    }
    .code-block .domain {
        text-align:center;
        font-size: 12px;
    }
{% endblock %}
    
{% block body %}
    {% for Invitation in Event.invitation %}
        <div class="code-block">
            {% if data.printUrl %}
                <div class="domain">{{Event.domain}}</div>
            {% endif %}
            <div class="code">{{Invitation.code}}</div>
            <div class="name">{{Invitation.name}}</div>
        </div>
    {% endfor %}
{% endblock %}