<tr data-index="{{form.vars.name}}">
    <td>
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </td>
    <td>
        <a class="text-danger pull-right remove clickable" data-message="removeInvitationGroup">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </td>
</tr>