div.login-form {
    width:100%;
    form {
        margin:0 auto;
        max-width:500px;
        text-align:left;
        input.text, input.password{
            font-size: large;
        }
    }
    a {
        color: #fff;
    }
}
@media(min-width:767px) {
    .home-image {
        max-width: @img-home-max;
        max-height: @img-home-max;
    }
}

@media(max-width:767px) {    
    .home-image {
        max-width: @img-home-max-mobile;
        max-height: @img-home-max-mobile;
    }
}
a.inblue{
    color: #fff;
    text-decoration:underline;
}