<div class="modal modal-form fade" tabindex="-1" role="dialog" id="typeConfigDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{"eventConfig.form.parameter.dialog.title"|trans}}</h4>
            </div>
            <div class="modal-body modal-body-content">
                
            </div>
            <div class="modal-footer">
                <input type="hidden" id="typeConfigDialogType" />
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"eventConfig.form.parameter.dialog.buttonCancel"|trans}}</button>
                <button type="button" class="btn btn-primary save-button">{{"eventConfig.form.parameter.dialog.buttonSave"|trans}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->