{% extends 'PanelBundle::base.html.twig' %}
{% block title %}{{Invitation.name}}{{'invitationEditor.title'|trans}}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'PanelBundle:InvitationEditor:form/edit.html.twig' with { 'form' : form } %}
    </div>
{% endblock %}
