{% extends 'PanelBundle:PanelEvent:event.html.twig' %}
{% block title %}{{Event.name}}{{'generator.title'|trans}}{% endblock %}
{% block content %}
    <div class="row">
        {% include 'PanelBundle:Generator:stickers.html.twig' with {'form': forms.stickers, 'Event': Event} %}
    </div>
{% endblock %}
