<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('invitation_dashboard', {'slug': app.user.event.urlName}) }}"> {{ app.user.event.name }}{{'title'|trans}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% set menuItem = knp_menu_get('InvitationBundle:Builder:mainMenu', [], {'slug': app.user.event.urlName}) %}
            {{ knp_menu_render(menuItem, {'style' : 'navbar-right'}) }}
        </div>
    </div>
</nav>