.required:after {
  content: "*";
  color: #ff0000;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-default .navbar-nav #user-profile {
  height: 50px;
  padding-top: 15px;
  padding-left: 58px;
}
.navbar-default .navbar-nav #user-profile img {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 2px;
  left: 8px;
  padding: 1px;
}
#wrapper {
  padding-top: 50px;
  padding-left: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
@media (min-width: 992px) {
  #wrapper {
    padding-left: 225px;
  }
}
@media (min-width: 992px) {
  #wrapper #sidebar-wrapper {
    width: 225px;
  }
}
#sidebar-wrapper {
  border-right: 1px solid #e7e7e7;
  z-index: 1000;
  position: fixed;
  left: 225px;
  width: 0;
  height: 100%;
  margin-left: -225px;
  overflow-y: auto;
  background: #f8f8f8;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 225px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar-wrapper .sidebar-nav li {
  text-indent: 0;
  line-height: 45px;
}
#sidebar-wrapper .sidebar-nav li a {
  padding: 0;
  display: block;
  text-decoration: none;
  color: #428bca;
}
#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
  width: 45px;
  height: 45px;
  font-size: 14px;
  padding: 0 2px;
  display: inline-block;
  text-indent: 7px;
  margin-right: 10px;
  float: left;
}
#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}
#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  -khtml-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  padding: 0;
}
#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
  text-indent: 15px;
}
#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
  margin-right: 10px;
}
#sidebar-wrapper .sidebar-nav li.current a {
  background: #428bca !important;
  color: #fff !important;
}
#sidebar-wrapper .sidebar-nav li.current a .sidebar-icon {
  color: #fff;
}
#page-content-wrapper {
  margin: 0 15px;
}
@media (max-width: 992px) {
  #page-content-wrapper {
    margin: 0 15px 0 60px;
  }
  #wrapper #sidebar-wrapper {
    width: 45px;
  }
  #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
    position: fixed;
    left: 45px;
    margin-top: -45px;
    z-index: 1000;
    width: 200px;
    height: 0;
  }
}
.card {
  margin-top: 20px;
}
.card .well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-left: 15px;
  border: 0px;
}
.card .thumbnail .caption {
  padding: 9px;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
}
.card .icon-style {
  margin-right: 15px;
  font-size: 18px;
  margin-top: 20px;
}
.card p {
  margin: 3px;
}
.card .well-add-card {
  margin-bottom: 10px;
}
.card .btn-add-card {
  margin-top: 20px;
}
.card .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 6px solid #D9D9D9;
  border-radius: 15px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
}
.card .btn {
  border-radius: 0px;
}
.card .btn-update {
  margin-left: 15px;
}
.clickable {
  cursor: pointer;
}
.move {
  cursor: move;
}
.generator-row {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background: #ddd;
}
