    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Uwaga!</h3>
                        <p>Obecny serwis jest w fazie testów</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><!--Around the Web--></h3>
                        <!--<ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>-->
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Plany działalności serwisu:</h3>
                        <p><ul>
                            <li>15.01.2017 - Uruchomienie wersji testowej</li>
                            <li>01.03.2017 - Wersja alpha</li>
                            <li>01.07.2017 - Wersja beta</li>
                            <li>01.11.2017 - Uruchomienie pełnej wersji</li>
                        </ul></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; inwitacja.pl {{ "now"|date('Y')}}
                    </div>
                </div>
            </div>
        </div>
    </footer>