    <header class="fill">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% image '@AppBundle/Resources/public/images/youre-invited-icon.png' %}
                        <img class="img-responsive" src="{{ asset_url }}" alt="">
                    {% endimage %}
                    <div class="intro-text">
                        <span class="name">{{'maintitle'|trans}}</span>
                        {% include 'AppBundle:Homepage:login.html.twig' %}
                        <hr class="star-light">
                        <span class="skills">{{'subtitle'|trans}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>