{% extends 'AppBundle::index.html.twig' %}

{% block content %}
    <div class="row">	  
        <div class="icon-image"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></div>
        <ul>
            <li>Wygodna, nowoczesna forma zapraszania gości.</li>
            <li>Tradycyjna elegancja i takt.</li>
            <li>Porządek w planowaniu Twojej uroczystości.</li>
            <li>Informacja o niezdecydowanych.</li>
            <li>Tradycyjna forma dla osób starszych.</li>

        </ul>
    </div>
    <div class="row">
        <p>Inwitacja.pl to nowoczesny sposób zapraszania na uroczystości. Do tradycyjnych zaproszeń przyklejasz naklejkę z adresem internetowym i unikalnym kodem za pomocą którego goście potwierdzają swoje przybycie. Za pomocą aplikacji możesz też sam potwierdzić osoby, które wolą dać Ci znać osobiście. Dzięki temu dokładnie zaplanujesz imprezę i nie zapomnisz o żadnych specjalnych preferencjach Twoich gości.</p>
        <a href="{{ url('fos_user_registration_register') }}" class="btn btn-primary">Zarejestruj się</a>
        <a href="{{ url('fos_user_security_login') }}" class="btn btn-warning" >Zaloguj</a>
        Masz konto a nie pamiętasz hasła? <a href="{{ url('fos_user_resetting_request') }}">Przypomnij hasło...</a>
    </div>
</div>
{% endblock %}
