{% extends 'AppBundle::base.html.twig' %}

{% block title %}AppBundle:Homepage:index{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Witaj!</h1>
  <p class="lead">Tutaj będzie strona inwitacji</p>
  <hr class="my-2">
  <p>Co chcesz zrobić?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Zaloguj</a>
	<a class="btn btn-primary btn-lg" href="#" role="button">Zarejestruj</a>
  </p>
</div>
{% endblock %}
