
                        <div class="login-form">
                            <form id="signin" method="POST" action="{{ path('fos_user_security_check') }}" role="form">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" id="username" name="_username" class="form-control" value="" placeholder="Username"/>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="password" type="password" class="form-control" name="_password" value="" placeholder="Password">                                        
                                </div>
                                
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Remember me

                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </form>
                        </div>