<tr>
    <td>
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </td>
    <td>
        {{ form_errors(form.status) }}
        {{ form_widget(form.status) }}
    </td>
</tr>