{% extends 'PanelBundle::base.html.twig' %}

{% block body %}
    <div class="container">
    
        <div class="row">
            <div class="col-lg-6">
                {% if Event.checkPermission('event.invitation.add') %}
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="addEventButton" data-toggle="modal" data-target="#addEventDialog">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {{ "invitationsManager.addButton" |trans }}
                    </button>
                {% endif %}
            </div>
            <div class="col-lg-6">
            
            </div>
        </div>
    </div>
    
    <div class="container">
        {% for Invitation in pagination %}
            {% include 'PanelBundle:InvitationsManager:invitationRow.html.twig' with { 'Invitation' : Invitation } %}
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
                    
    {% if Event.checkPermission('event.invitation.add') %}
        {% include 'PanelBundle:InvitationsManager:addFormDialog.html.twig' with { 'form' : form, 'Event' : Event } %}
    {% endif %}
{% endblock %}
