{% extends 'PanelBundle::base.html.twig' %}
{% block title %}{{Event.name}}{{'invitationsManager.title'|trans}}{% endblock %}

{% block javascripts %}
    {% javascripts
        '@PanelBundle/Resources/public/js/invitationsManager.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% if Event.checkPermission('event.invitation.add') %}
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="addEventButton" data-toggle="modal" data-target="#addEventDialog">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {{ "invitationsManager.addButton" |trans }}
                    </button>
                {% endif %}
            </div>
            <div class="col-lg-6">
            
            </div>
        </div>
    </div>
    
    <div class="container">
        {% include 'PanelBundle:InvitationsManager:invitationTable.html.twig' with { 'pagination' : pagination, 'Event' : Event } %}
    </div>
                    
    {% if Event.checkPermission('event.invitation.add') %}
        {% include 'PanelBundle:InvitationsManager:addFormDialog.html.twig' with { 'form' : form, 'Event' : Event } %}
    {% endif %}
{% endblock %}
