{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% include 'AppBundle:User:navbar.html.twig' %}
        <div class="container">
            {% include 'AppBundle::flashbag.html.twig' %}
        </div>
        <section class="success fill" id="about" style="">
            <div class="container">
                {% block fos_user_content %}{% endblock %}
            </div>
        </section>
{% endblock %}
