{% extends 'PanelBundle::base.html.twig' %}
{% block title %}{{'eventManager.title'|trans}}{% endblock %}

{% block javascripts %}
    {% javascripts
        '@PanelBundle/Resources/public/js/eventManager.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="addEventButton" data-toggle="modal" data-target="#addEventDialog">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ "eventManager.addButton" |trans }}
                </button>
            </div>
            <div class="col-lg-6">
            
            </div>
        </div>
    </div>
    
    <div class="container">
        {% for Event in Events %}
            {% include 'PanelBundle:EventManager:card.html.twig' with { 'Event' : Event } %}
        {% endfor %}
    </div>
                    
    {% include 'PanelBundle:EventManager:addFormDialog.html.twig' with { 'form' : form } %}
{% endblock %}
