{% extends 'PanelBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary btn-lg btn-block" id="addEventButton" data-toggle="modal" data-target="#addEventDialog">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ "eventManager.addButton" |trans }}
                </button>
            </div>
            <div class="col-lg-6">
            
            </div>
        </div>
    </div>
    
    <div class="container">
        {% include 'PanelBundle:EventManager:card.html.twig' %}
    </div>
                    
    {% include 'PanelBundle:EventManager:addFormDialog.html.twig' with { 'form' : addForm } %}
{% endblock %}
